<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">

      <title>{% block "title" %}{% block "subject" %}{% endblock %}{% endblock %}</title>

      <link rel="stylesheet" href="/static/css/uswds.min.css">

      {% block "header" %}{% endblock %}
  </head>
  <body>
  {% block "content" %}{% endblock %}
  <!--[if lt IE 9]>
    <script src="/static/js/vendor/selectivizr-min.js"></script>
    <script src="/static/js/vendor/respond.js"></script>
    <script src="/static/js/vendor/rem.min.js"></script>
  <![endif]-->
  <script src="/static/js/uswds.min.js"></script>
  </body>
</html>
